/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body Styles */
body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container for forms */
.form-container {
    background-color: #1e1e1e;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgb(255, 255, 255); */
    max-width: 400px;
    width: 100%;
    padding: 40px 30px;
    box-sizing: border-box;
}

/* Heading */
h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Form Elements */
input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #ffffff;
}

/* Button Styling */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Link Style for Register and Login */
a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

/* Error message styling */
.error-message {
    color: #d9534f;
    background-color: #f2dede;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
}

/* Success message styling */
.success-message {
    color: #5bc0de;
    background-color: #d9edf7;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 500px) {
    .form-container {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    button {
        font-size: 14px;
    }
}
